@import "common";
@import "animations";
body {
  line-height: 1;
  font-size: 12px;
}
html{
}
.vertical-middle {
  vertical-align: middle;
}
.active-able, button {
  user-select: none;
  &:active {
    opacity: .9;
    transition: opacity .1s;
  }
}
//van hack
.van-dialog {
  z-index: 99999 !important;
}
